body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* .cell th {
} */
/* table {
  table-layout: fixed;
} */
.con {
  margin: auto;
  padding: auto;
  max-width: 950px;
}
.cell {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 80%;
  height: 40%;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

.article-body {
  height: 3.5rem;
  size: 30%;
  background-color: rgb(244, 233, 219);
}

.tfootBtn {
  float: right;
  display: inline;
  margin-right: 11%;
  margin-left: 15%;
}
