.boardList {
  font-family: monospace;
  text-align: center;
}
table {
  border-collapse: collapse;
}
th {
  border: 1px solid black;
}
.boardTable {
  width: 70%;
  border: 1px solid rgb(198, 195, 189);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.boardTableThead {
  border: none;
  border-bottom: 1px solid lightslategray;
}
.boardListTr {
  border-bottom: 1px solid rgb(190, 190, 190);
}
.boardListTr:hover {
  background-color: rgba(181, 247, 245, 0.595);
}
.boardTitle:hover {
  font-weight: bold;
  text-decoration: underline;
}
